.layout {
  max-width: 800px;
  width: 100%;
  margin: 0 auto 0 auto;
  /* display: flex; */
}

.content {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  min-height: 600px;
}

.header {
  /* background-color: rgb(223, 255, 255); */
  margin: 5px auto 5px auto;
  padding: 10px 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

/* .mainCol {
  flex: auto;
} */

.verticalBar {
  margin-right: auto;
  margin-left: 10px;
  width: 20px;
  position: fixed;
  top: 100px;
  left: 100px;
  text-align: center;
  /* flex: 10px; */
  /* position: absolute;
  left: 800px; */
}

.navlink {
  margin-right: 10px;
}

.navlink:hover {
  background-color: #696969;
  color: white;
}
